body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.one, .two, .three, .four, .five {
    padding: 0px 128px;
    font-family: Roboto, sans-serif;
}

.one, .five {
    background: #1F2937;
}

.one {
    display: flex;
    height: auto;
    flex-direction: column;
    padding-bottom: 92px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 78px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

.text-small, a {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

.text-large {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.info {
    display: flex;
    gap: 32px;
}

.about {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    background: gray;
    flex: 1;
    color: white;
}

button {
    background: #3882F6;
    padding: 8px 24px;
    border-radius: 8px;
    margin: 0;
    color: #F9FAF8;
    font-weight: bold;
    width: 108px;
    height: 36px;
    border: solid white;
}

.two {
    text-align: center;
    padding-bottom: 92px;
}

.info-header {
    padding: 32px 0px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    align-items: center;
}

.info-text {
    font-size: 18px;
    color: gray;
    text-wrap: wrap;
}


.box {
    border: solid #3882F6;
    border-radius: 8px;
    height: 100px;
    width: 100px;
    border-width: 3px;
}

.three {
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.quote {
    padding-top: 96px;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.speaker {
    font-size: 18px;
    padding-bottom: 96px;
    margin-left: auto;
    font-weight: bold;
}

.four {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    background: #3882F6;
    margin: 96px;
    padding: 24px;
    border-radius: 8px;
}

.call-header {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
}

.five {
    padding: 24px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}